{% load static %}
{% load humanize %}
<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-hover table-bordered border-success table-striped" style="font-size: 0.9rem !important;">
        <thead>
          <tr style="background-color: #017224 !important; color: white;">
            <th class="text-center">{{qs.category_id.name}}</th>
            <th class="text-center">Ene</th>
            <th class="text-center">Feb</th>
            <th class="text-center">Mar</th>
            <th class="text-center">Abr</th>
            <th class="text-center">May</th>
            <th class="text-center">Jun</th>
            <th class="text-center">Jul</th>
            <th class="text-center">Ago</th>
            <th class="text-center">Sep</th>
            <th class="text-center">Oct</th>
            <th class="text-center">Nov</th>
            <th class="text-center">Dic</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class=" fw-bold" style="min-width: 180px !important;">Saldo Anterior</td>
            <td class="text-end">{{qs_detail.0.amount_initial|floatformat:2|intcomma}}</td>
            <td class="text-end">{{qs_detail.1.amount_initial|floatformat:2|intcomma}}</td>
            <td class="text-end">{{qs_detail.2.amount_initial|floatformat:2|intcomma}}</td>
            <td class="text-end">{{qs_detail.3.amount_initial|floatformat:2|intcomma}}</td>
            <td class="text-end">{{qs_detail.4.amount_initial|floatformat:2|intcomma}}</td>
            <td class="text-end">{{qs_detail.5.amount_initial|floatformat:2|intcomma}}</td>
            <td class="text-end">{{qs_detail.6.amount_initial|floatformat:2|intcomma}}</td>
            <td class="text-end">{{qs_detail.7.amount_initial|floatformat:2|intcomma}}</td>
            <td class="text-end">{{qs_detail.8.amount_initial|floatformat:2|intcomma}}</td>
            <td class="text-end">{{qs_detail.9.amount_initial|floatformat:2|intcomma}}</td>
            <td class="text-end">{{qs_detail.10.amount_initial|floatformat:2|intcomma}}</td>
            <td class="text-end">{{qs_detail.11.amount_initial|floatformat:2|intcomma}}</td>
          </tr>
          <!-- <tr>
            <td class=" fw-bold">Monto Crecimiento</td>
            <td class="text-end" 
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              title="Saldo Anterior * {{qs_detail.0.percent_growth|floatformat:2|intcomma}}% "
            >{{qs_detail.0.amount_growth|floatformat:2|intcomma}}</td>
            <td class="text-end" 
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              title="Saldo Anterior * {{qs_detail.1.percent_growth|floatformat:2|intcomma}}% + Pagos a Capital mes anterior"
            >{{qs_detail.1.amount_growth|floatformat:2|intcomma}}</td>
            <td class="text-end" 
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              title="Saldo Anterior * {{qs_detail.2.percent_growth|floatformat:2|intcomma}}% + Pagos a Capital mes anterior"
            >{{qs_detail.2.amount_growth|floatformat:2|intcomma}}</td>
            <td class="text-end" 
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              title="Saldo Anterior * {{qs_detail.3.percent_growth|floatformat:2|intcomma}}% + Pagos a Capital mes anterior"
            >{{qs_detail.3.amount_growth|floatformat:2|intcomma}}</td>
            <td class="text-end" 
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              title="Saldo Anterior * {{qs_detail.4.percent_growth|floatformat:2|intcomma}}% + Pagos a Capital mes anterior"
            >{{qs_detail.4.amount_growth|floatformat:2|intcomma}}</td>
            <td class="text-end" 
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              title="Saldo Anterior * {{qs_detail.5.percent_growth|floatformat:2|intcomma}}% + Pagos a Capital mes anterior"
            >{{qs_detail.5.amount_growth|floatformat:2|intcomma}}</td>
            <td class="text-end" 
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              title="Saldo Anterior * {{qs_detail.6.percent_growth|floatformat:2|intcomma}}% + Pagos a Capital mes anterior"
            >{{qs_detail.6.amount_growth|floatformat:2|intcomma}}</td>
            <td class="text-end" 
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              title="Saldo Anterior * {{qs_detail.7.percent_growth|floatformat:2|intcomma}}% + Pagos a Capital mes anterior"
            >{{qs_detail.7.amount_growth|floatformat:2|intcomma}}</td>
            <td class="text-end" 
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              title="Saldo Anterior * {{qs_detail.8.percent_growth|floatformat:2|intcomma}}% + Pagos a Capital mes anterior"
            >{{qs_detail.8.amount_growth|floatformat:2|intcomma}}</td>
            <td class="text-end" 
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              title="Saldo Anterior * {{qs_detail.9.percent_growth|floatformat:2|intcomma}}% + Pagos a Capital mes anterior"
            >{{qs_detail.9.amount_growth|floatformat:2|intcomma}}</td>
            <td class="text-end" 
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              title="Saldo Anterior * {{qs_detail.10.percent_growth|floatformat:2|intcomma}}% + Pagos a Capital mes anterior"
            >{{qs_detail.10.amount_growth|floatformat:2|intcomma}}</td>
            <td class="text-end" 
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              title="Saldo Anterior * {{qs_detail.11.percent_growth|floatformat:2|intcomma}}% + Pagos a Capital mes anterior"
            >{{qs_detail.11.amount_growth|floatformat:2|intcomma}}</td>
          </tr> -->
          <tr>
            <td class=" fw-bold">Aumentos</td>
            <td class="text-end">{{qs_detail.0.amount_increase|floatformat:2|intcomma}}</td>
            <td class="text-end">{{qs_detail.1.amount_increase|floatformat:2|intcomma}}</td>
            <td class="text-end">{{qs_detail.2.amount_increase|floatformat:2|intcomma}}</td>
            <td class="text-end">{{qs_detail.3.amount_increase|floatformat:2|intcomma}}</td>
            <td class="text-end">{{qs_detail.4.amount_increase|floatformat:2|intcomma}}</td>
            <td class="text-end">{{qs_detail.5.amount_increase|floatformat:2|intcomma}}</td>
            <td class="text-end">{{qs_detail.6.amount_increase|floatformat:2|intcomma}}</td>
            <td class="text-end">{{qs_detail.7.amount_increase|floatformat:2|intcomma}}</td>
            <td class="text-end">{{qs_detail.8.amount_increase|floatformat:2|intcomma}}</td>
            <td class="text-end">{{qs_detail.9.amount_increase|floatformat:2|intcomma}}</td>
            <td class="text-end">{{qs_detail.10.amount_increase|floatformat:2|intcomma}}</td>
            <td class="text-end">{{qs_detail.11.amount_increase|floatformat:2|intcomma}}</td>
          </tr>
          <tr>
            <td class=" fw-bold">Disminuciones</td>
            <td class="text-end">{{qs_detail.0.amount_decrease|floatformat:2|intcomma}}</td>
            <td class="text-end">{{qs_detail.1.amount_decrease|floatformat:2|intcomma}}</td>
            <td class="text-end">{{qs_detail.2.amount_decrease|floatformat:2|intcomma}}</td>
            <td class="text-end">{{qs_detail.3.amount_decrease|floatformat:2|intcomma}}</td>
            <td class="text-end">{{qs_detail.4.amount_decrease|floatformat:2|intcomma}}</td>
            <td class="text-end">{{qs_detail.5.amount_decrease|floatformat:2|intcomma}}</td>
            <td class="text-end">{{qs_detail.6.amount_decrease|floatformat:2|intcomma}}</td>
            <td class="text-end">{{qs_detail.7.amount_decrease|floatformat:2|intcomma}}</td>
            <td class="text-end">{{qs_detail.8.amount_decrease|floatformat:2|intcomma}}</td>
            <td class="text-end">{{qs_detail.9.amount_decrease|floatformat:2|intcomma}}</td>
            <td class="text-end">{{qs_detail.10.amount_decrease|floatformat:2|intcomma}}</td>
            <td class="text-end">{{qs_detail.11.amount_decrease|floatformat:2|intcomma}}</td>
          </tr>
          <tr>
            <td class=" fw-bold">Nuevo Saldo</td>
            <td class="text-end">{{qs_detail.0.new_amount|floatformat:2|intcomma}}</td>
            <td class="text-end">{{qs_detail.1.new_amount|floatformat:2|intcomma}}</td>
            <td class="text-end">{{qs_detail.2.new_amount|floatformat:2|intcomma}}</td>
            <td class="text-end">{{qs_detail.3.new_amount|floatformat:2|intcomma}}</td>
            <td class="text-end">{{qs_detail.4.new_amount|floatformat:2|intcomma}}</td>
            <td class="text-end">{{qs_detail.5.new_amount|floatformat:2|intcomma}}</td>
            <td class="text-end">{{qs_detail.6.new_amount|floatformat:2|intcomma}}</td>
            <td class="text-end">{{qs_detail.7.new_amount|floatformat:2|intcomma}}</td>
            <td class="text-end">{{qs_detail.8.new_amount|floatformat:2|intcomma}}</td>
            <td class="text-end">{{qs_detail.9.new_amount|floatformat:2|intcomma}}</td>
            <td class="text-end">{{qs_detail.10.new_amount|floatformat:2|intcomma}}</td>
            <td class="text-end">{{qs_detail.11.new_amount|floatformat:2|intcomma}}</td>
          </tr>
          <tr>
            <td class=" fw-bold">Tasa Interes</td>
            <td class="text-end">{{qs_detail.0.rate|floatformat:2|intcomma}}</td>
            <td class="text-end">{{qs_detail.1.rate|floatformat:2|intcomma}}</td>
            <td class="text-end">{{qs_detail.2.rate|floatformat:2|intcomma}}</td>
            <td class="text-end">{{qs_detail.3.rate|floatformat:2|intcomma}}</td>
            <td class="text-end">{{qs_detail.4.rate|floatformat:2|intcomma}}</td>
            <td class="text-end">{{qs_detail.5.rate|floatformat:2|intcomma}}</td>
            <td class="text-end">{{qs_detail.6.rate|floatformat:2|intcomma}}</td>
            <td class="text-end">{{qs_detail.7.rate|floatformat:2|intcomma}}</td>
            <td class="text-end">{{qs_detail.8.rate|floatformat:2|intcomma}}</td>
            <td class="text-end">{{qs_detail.9.rate|floatformat:2|intcomma}}</td>
            <td class="text-end">{{qs_detail.10.rate|floatformat:2|intcomma}}</td>
            <td class="text-end">{{qs_detail.11.rate|floatformat:2|intcomma}}</td>
          </tr>
          <tr>
            <td class=" fw-bold">Intereses Ganados</td>
            <td class="text-end">{{qs_detail.0.amount_interest_earned|floatformat:2|intcomma}}</td>
            <td class="text-end">{{qs_detail.1.amount_interest_earned|floatformat:2|intcomma}}</td>
            <td class="text-end">{{qs_detail.2.amount_interest_earned|floatformat:2|intcomma}}</td>
            <td class="text-end">{{qs_detail.3.amount_interest_earned|floatformat:2|intcomma}}</td>
            <td class="text-end">{{qs_detail.4.amount_interest_earned|floatformat:2|intcomma}}</td>
            <td class="text-end">{{qs_detail.5.amount_interest_earned|floatformat:2|intcomma}}</td>
            <td class="text-end">{{qs_detail.6.amount_interest_earned|floatformat:2|intcomma}}</td>
            <td class="text-end">{{qs_detail.7.amount_interest_earned|floatformat:2|intcomma}}</td>
            <td class="text-end">{{qs_detail.8.amount_interest_earned|floatformat:2|intcomma}}</td>
            <td class="text-end">{{qs_detail.9.amount_interest_earned|floatformat:2|intcomma}}</td>
            <td class="text-end">{{qs_detail.10.amount_interest_earned|floatformat:2|intcomma}}</td>
            <td class="text-end">{{qs_detail.11.amount_interest_earned|floatformat:2|intcomma}}</td>
          </tr>
          <tr>
            <td class=" fw-bold">Cuentas por Cobrar</td>
            <td class="text-end">{{qs_detail.0.amount_accounts_receivable|floatformat:2|intcomma}}</td>
            <td class="text-end">{{qs_detail.1.amount_accounts_receivable|floatformat:2|intcomma}}</td>
            <td class="text-end">{{qs_detail.2.amount_accounts_receivable|floatformat:2|intcomma}}</td>
            <td class="text-end">{{qs_detail.3.amount_accounts_receivable|floatformat:2|intcomma}}</td>
            <td class="text-end">{{qs_detail.4.amount_accounts_receivable|floatformat:2|intcomma}}</td>
            <td class="text-end">{{qs_detail.5.amount_accounts_receivable|floatformat:2|intcomma}}</td>
            <td class="text-end">{{qs_detail.6.amount_accounts_receivable|floatformat:2|intcomma}}</td>
            <td class="text-end">{{qs_detail.7.amount_accounts_receivable|floatformat:2|intcomma}}</td>
            <td class="text-end">{{qs_detail.8.amount_accounts_receivable|floatformat:2|intcomma}}</td>
            <td class="text-end">{{qs_detail.9.amount_accounts_receivable|floatformat:2|intcomma}}</td>
            <td class="text-end">{{qs_detail.10.amount_accounts_receivable|floatformat:2|intcomma}}</td>
            <td class="text-end">{{qs_detail.11.amount_accounts_receivable|floatformat:2|intcomma}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
