{% load static %}
{% load humanize %}
<h5 class="my-3 fw-light">Registrar Personal</h5>
<form
  method="post"
  accept-charset="utf-8"
  action="{% url 'staff_budgets_register' %}"
  onsubmit="document.getElementById('btn-register-staff-budget').setAttribute('disabled', 'disabled')"
>
  {% csrf_token %}
  <input 
    type="hidden"
    name="method"
    value="create-staff-budget"
  />
  <div class="row">
    <div class="col-md-4 mb-3">
      <div class="form-group">
        <label for="id_period_2">Periodo</label>
        <select 
          class="form-select select2-style" 
          id="id_period_2" 
          name="period" 
          required
          style="width: 100%;"
        >
          <option value="">--- Seleccione Periodo ---</option>
          {% for period in periods %}
          <option value="{{period.pk}}">{{period}}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="form-group">
        <label for="id_cost_center_2">Centro de Costos</label>
        <select 
          class="form-select select2-style"
          id="id_cost_center_2"
          name="cost_center"
          required
          style="width: 100%;"
        >
          <option value="">--- Seleccione Centro Costos ---</option>
          {% for cost_center in cost_centers %}
          <option value="{{cost_center.pk}}">{{cost_center}}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="form-group">
        <label for="id_month">Mes Inicio</label>
        <select
          class="form-select select2-style"
          id="id_month"
          name="month"
          required
          style="width: 100%;"
        >
          <option value="">--- Seleccione Mes ---</option>
          {% for month in months %}
          <option value="{{month}}">{{month}}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="w-100"></div>
    <div class="col-md-4 mb-3">
      <div class="form-group">
        <label for="id_job_position">Puesto</label>
        <select 
          class="form-select select2-style"
          id="id_job_position"
          name="job_position"
          required
          style="width: 100%;"
        >
          <option value="">--- Seleccione Puesto ---</option>
          {% for job in job_positions %}
          <option value="{{job.pk}}">{{job}}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="form-group">
        <label for="id_type_position">Tipo</label>
        <select 
          class="form-select select2-style"
          id="id_type_position"
          name="type_position" 
          required
          style="width: 100%;"
        >
          <option value="">--- Seleccione Tipo Posición ---</option>
          {% for key, staff_position in staff_positions.items %}
            <option value="{{key}}">{{staff_position}}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="form-group">
        <label for="id_number">Cantidad</label>
        <input
          class="form-control" 
          id="id_number"
          min="0"
          name="number"
          required
          step="1"
          type="number"
        />
      </div>
    </div>
    <div class="w-100"></div>
    <div class="col-md-4 mb-3" id="id_month_end_container">
      <div class="form-group">
        <label for="id_month_end">Mes Fin</label>
        <select
          class="form-select select2-style"
          id="id_month_end"
          name="month_end"
          style="width: 100%;"
        >
          <option value="">--- Seleccione Mes Fin ---</option>
          {% for month in months %}
          <option value="{{month}}">{{month}}</option>
          {% endfor %}
        </select>
      </div>
    </div>

    <div class="col-md-4 mb-3">
      <label for="id_justification_national">Justificación</label>
      <textarea
        name="justification"
        required
        class="form-control"
        id="id_justification_national"
        rows="3"
        style="resize: none;"
        ></textarea>
    </div>
    <div class="w-100"></div>
    <div class="col-md-4">
      <div class="d-grid gap-2 my-2">
        <button class="btn btn-safa" type="submit" id="btn-register-staff-budget">Guardar</button>
      </div>
    </div>
  </div>
</form>
