{% extends 'layout/base.html' %}
{% load static %}
{% load humanize %}
{% block title %}Presupuestos de Inversión {% endblock title %}
{% block breadcrumb %}
  <li class="breadcrumb-item active text-white" aria-current="page">/ Ingreso de Presupuestos de Inversión</li>
{% endblock breadcrumb %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/budgets.css' %}">
{% endblock css %}
{% block content %}
<div class="container-fluid pt-4">
  <div class="card card-template">
    <div class="card-body">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button 
            aria-controls="filtros"
            aria-selected="true"
            class="nav-link active"
            data-bs-toggle="tab"
            data-bs-target="#filtros"
            id="filtros-tab"
            role="tab"
            type="button"
          >Filtrar</button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            aria-controls="create-investment"
            aria-selected="false"
            class="nav-link"
            data-bs-toggle="tab"
            data-bs-target="#create-investment"
            id="create-investment-tab"
            role="tab"
            type="button"
          >Crear Inversión</button>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="filtros" role="tabpanel" aria-labelledby="filtros-tab">
          {% include 'investment_budget_form_filters.html' %}
        </div>
        <div class="tab-pane fade" id="create-investment" role="tabpanel" aria-labelledby="create-investment-tab">
          {% include 'investment_budget_form_create.html' %}
        </div>
      </div>
    </div>
  </div>
  {% include 'card_investment_budgets_list.html' %}

  <div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="modalDeleteLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title fw-light" id="modalDeleteLabel">Eliminar Presupuesto </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form method="post" id="formDelete">
          {% csrf_token %}
          <div class="modal-body">
            <h5 class="fw-light">Desea eliminar presupuesto?</h5>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-safa">Si, eliminar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block javascript %}
<script src="{% static 'js/utils.js' %}"></script>

<script>
  $(document).ready(()=>{
    let urlGetInvestment = '{% url "get_investment_by_account" 0 %}';

    $('#id_account').change(function(){
      let account_id = $(this).val()
      if(account_id === '' || account_id === null || account_id === undefined){
        $('#id_investment').empty();
        $('#id_investment').append('<option value="">--- Seleccione Inversión ---</option>');
        return
      }
      let url = urlGetInvestment.replace('0', account_id)
      $.ajax({
        type: "GET",
        data: {},
        url: url
      })
      .done(fillInvestmentSelected)
      .fail(handleGetInvestmentError)
    })

    const fillInvestmentSelected = (resp) => {
      $('#id_investment').empty();
      $('#id_investment').append('<option value="">--- Seleccione Inversión ---</option>');
      $.each(resp, (key, val) => {
        console.log(val.descinversion);
        $('#id_investment').append(`<option value='${val.codinversion}'>${val.descinversion}</option>`);
      })
      $('#id_investment').trigger("chosen:updated");
    }

    const handleGetInvestmentError = (e) => {
      console.log(e);
      alert("No se pudo Cargar Inversiones asociadas a cuenta contable!")
    }
  })
</script>
<script>
  $(document).ready(()=>{
    $(document).on('click', '.delete-investment-budget', function(){
      $('#formDelete').attr('action', $(this).data('form-url'))
      $('#modalDelete').modal('show');
    })
  })
</script>

<script>
  $(document).ready(() => {
    $('#btn-generate-report').hide();
    $(
      "#id_period option[value= '{{request.session.period}}'] "
    ).prop('selected', true).trigger("change");
    $(
      "#id_cost_center option[value= '{{request.session.cost_center}}'] "
    ).prop('selected', true).trigger("change");
    $(
      "#id_period_2 option[value= '{{request.session.period}}'] "
    ).prop('selected', true).trigger("change");
    $(
      "#id_cost_center_2 option[value= '{{request.session.cost_center}}'] "
    ).prop('selected', true).trigger("change");


    $('#id_period, #id_cost_center').change(() => {
      if ( $('#id_period').val().trim() !== '' && $('#id_cost_center').val().trim() !== '') {
        $('#btn-generate-report').show();
      }
    });

    setTimeout(() => {
      if ( $('#id_period').val().trim() !== '' && $('#id_cost_center').val().trim() !== '') {
        $('#btn-generate-report').show();
      }
    }, 2000);
  })
</script>
<script>
  $('#btn-generate-report').click((e) => {
    e.stopPropagation()
    e.preventDefault();
    let cost_center = $('#id_cost_center').val();
    let period = $('#id_period').val();
    if (cost_center === '') alert("Seleccione Centro de costo para generar reporte")
    else if (period === '') alert("Seleccione Periodo para generar reporte")
    else {
      let url = `/investment-budgets/generate-excel-report/${period}/${cost_center}/`
      window.open(url, '_blank').focus();
    }
  })
</script>
{% endblock javascript %}