{% extends 'layout/base.html' %}
{% load static %}
{% load humanize %}
{% block title %}Presupuestos de Viaticos {% endblock title %}
{% block breadcrumb %}
  <li class="breadcrumb-item active text-white" aria-current="page">/ Ingreso de Presupuestos de Viaticos</li>
{% endblock breadcrumb %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/budgets.css' %}">
{% endblock css %}

{% block content %}
<div class="container-fluid pt-4">
  <div class="card card-template">
    <div class="card-body">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="filtros-tab" data-bs-toggle="tab" data-bs-target="#filtros" type="button"
            role="tab" aria-controls="filtros" aria-selected="true">Filtrar</button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="presupuestar-national-tab"
            data-bs-toggle="tab"
            data-bs-target="#presupuestar-national"
            type="button"
            role="tab"
            aria-controls="presupuestar-national"
            aria-selected="false"
          >Presupuestar Nacional</button>
        </li>
        <li class="nav-item" role="presentation">
          <button 
            class="nav-link"
            id="presupuestar-international-tab"
            data-bs-toggle="tab"
            data-bs-target="#presupuestar-international"
            type="button"
            role="tab"
            aria-controls="presupuestar-international"
            aria-selected="false"
          >Presupuestar Internacional</button>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="filtros" role="tabpanel" aria-labelledby="filtros-tab">
          {% include 'travel_budget_form_filters.html' %}
        </div>
        <div class="tab-pane fade" id="presupuestar-national" role="tabpanel" aria-labelledby="presupuestar-national-tab">
          {% include 'travel_budget_form_create_national_travel.html' %}
        </div>
        <div class="tab-pane fade" id="presupuestar-international" role="tabpanel" aria-labelledby="presupuestar-international-tab">
          {% include 'travel_budget_form_create_international_travel.html' %}
        </div>
      </div>
    </div>
  </div>
  
  {% include 'card_national_travel_budget.html' %}
  {% include 'card_international_travel_budget.html' %}

  <div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="modalDeleteLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title fw-light" id="modalDeleteLabel">Eliminar Presupuesto </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form method="post" id="formDelete">
          {% csrf_token %}
          <div class="modal-body">
            <h5 class="fw-light">Desea eliminar presupuesto?</h5>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-safa">Si, eliminar</button>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>

{% endblock content %}

{% block javascript %}

<script>
  $(document).ready(()=>{
    $(document).on('click', '.delete-travel-budget', function(){
      $('#formDelete').attr('action', $(this).data('form-url'))
      $('#modalDelete').modal('show');
    })
  })
</script>

<script>
  $(document).ready(() => {
    $('#btn-generate-report').hide();
    $(
      "#id_period option[value= '{{request.session.period}}'] "
    ).prop('selected', true).trigger("change");
    $(
      "#id_cost_center option[value= '{{request.session.cost_center}}'] "
    ).prop('selected', true).trigger("change");

    $(
      "#id_period_2 option[value= '{{request.session.period}}'] "
    ).prop('selected', true).trigger("change");
    $(
      "#id_cost_center_2 option[value= '{{request.session.cost_center}}'] "
    ).prop('selected', true).trigger("change");
    $(
      "#id_period_3 option[value= '{{request.session.period}}'] "
    ).prop('selected', true).trigger("change");
    $(
      "#id_cost_center_3 option[value= '{{request.session.cost_center}}'] "
    ).prop('selected', true).trigger("change");

    $('#id_period, #id_cost_center').change(() => {
      if ( $('#id_period').val().trim() !== '' && $('#id_cost_center').val().trim() !== '') {
        $('#btn-generate-report').show();
      }
    });


    setTimeout(() => {
      if ( $('#id_period').val().trim() !== '' && $('#id_cost_center').val().trim() !== '') {
        $('#btn-generate-report').show();
      }
    }, 2000);
  })
</script>
<script>
  $('#btn-generate-report').click((e) => {
    e.stopPropagation()
    e.preventDefault();
    let cost_center = $('#id_cost_center').val();
    let period = $('#id_period').val();
    if (cost_center === '') alert("Seleccione Centro de costo para generar reporte")
    else if (period === '') alert("Seleccione Periodo para generar reporte")
    else {
      let url = `/travel-budgets/generate-excel-report/${period}/${cost_center}/`
      window.open(url, '_blank').focus();
    }
  })
</script>
{% endblock javascript %}