{% load static %}
{% load humanize %}
<div class="modal fade" id="editMonthlyAmountDefinitionModal" tabindex="-1" aria-labelledby="editMonthlyAmountDefinitionModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <div class="row" style="width: 100%;">
          <div class="col-md-12">
            <h3 class="h3 fw-light">
              Cuenta: <span id="accountNameDefineMonthlyAmount"></span>  |   
              Nuevo Saldo Anual: <span id="newAnnualAmountDefineMonthlyAmount"></span>
            </h3>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <form method="post" id="idFormScenarioEdit">
          {% csrf_token %}
          <input type="hidden" name="method" value="define-monthly-by-amount">
          <input type="hidden" name="pk" id="inputPkMonthlyAmount">
          <div class="row mt-4">
            <div class="col-md-12">
              <div class="table-responsive">
                <table class="table table-sm table-bordered" >
                  <thead>
                    <tr>
                      <th>Detalle</th>
                      <th class="text-center">Ene</th>
                      <th class="text-center">Feb</th>
                      <th class="text-center">Mar</th>
                      <th class="text-center">Abr</th>
                      <th class="text-center">May</th>
                      <th class="text-center">Jun</th>
                      <th class="text-center">Jul</th>
                      <th class="text-center">Ago</th>
                      <th class="text-center">Sep</th>
                      <th class="text-center">Oct</th>
                      <th class="text-center">Nov</th>
                      <th class="text-center">Dic</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="text-center input-amount-size">Monto</td>
                      <td class="input-amount-size" id="id_define_monthly_amount_january"></td>
                      <td class="input-amount-size" id="id_define_monthly_amount_february"></td>
                      <td class="input-amount-size" id="id_define_monthly_amount_march"></td>
                      <td class="input-amount-size" id="id_define_monthly_amount_april"></td>
                      <td class="input-amount-size" id="id_define_monthly_amount_may"></td>
                      <td class="input-amount-size" id="id_define_monthly_amount_june"></td>
                      <td class="input-amount-size" id="id_define_monthly_amount_july"></td>
                      <td class="input-amount-size" id="id_define_monthly_amount_august"></td>
                      <td class="input-amount-size" id="id_define_monthly_amount_september"></td>
                      <td class="input-amount-size" id="id_define_monthly_amount_october"></td>
                      <td class="input-amount-size" id="id_define_monthly_amount_november"></td>
                      <td class="input-amount-size" id="id_define_monthly_amount_december"></td>
                    </tr>
                    <tr>
                      <td class="text-center input-amount-size">Incremento</td>
                      <td>
                        <input 
                          type="text" value="0"
                          class="form-control validation-input-text input-amount-size amount-monthly"
                          name="increases_january" id="id_define_monthly_increases_january" required 
                        />
                      </td>
                      <td>
                        <input 
                          type="text" value="0"
                          class="form-control validation-input-text input-amount-size amount-monthly"
                          name="increases_february" id="id_define_monthly_increases_february" required 
                        />
                      </td>
                      <td>
                        <input 
                          type="text" value="0"
                          class="form-control validation-input-text input-amount-size amount-monthly"
                          name="increases_march" id="id_define_monthly_increases_march" required 
                        />
                      </td>
                      <td>
                        <input 
                          type="text" value="0"
                          class="form-control validation-input-text input-amount-size amount-monthly"
                          name="increases_april" id="id_define_monthly_increases_april" required 
                        />
                      </td>
                      <td>
                        <input 
                          type="text" value="0"
                          class="form-control validation-input-text input-amount-size amount-monthly"
                          name="increases_may" id="id_define_monthly_increases_may" required 
                        />
                      </td>
                      <td>
                        <input 
                          type="text" value="0"
                          class="form-control validation-input-text input-amount-size amount-monthly"
                          name="increases_june" id="id_define_monthly_increases_june" required 
                        />
                      </td>
                      <td>
                        <input 
                          type="text" value="0"
                          class="form-control validation-input-text input-amount-size amount-monthly"
                          name="increases_july" id="id_define_monthly_increases_july" required 
                        />
                      </td>
                      <td>
                        <input 
                          type="text" value="0"
                          class="form-control validation-input-text input-amount-size amount-monthly"
                          name="increases_august" id="id_define_monthly_increases_august" required 
                        />
                      </td>
                      <td>
                        <input 
                          type="text" value="0"
                          class="form-control validation-input-text input-amount-size amount-monthly"
                          name="increases_september" id="id_define_monthly_increases_september" required 
                        />
                      </td>
                      <td>
                        <input 
                          type="text" value="0"
                          class="form-control validation-input-text input-amount-size amount-monthly"
                          name="increases_october" id="id_define_monthly_increases_october" required 
                        />
                      </td>
                      <td>
                        <input 
                          type="text" value="0"
                          class="form-control validation-input-text input-amount-size amount-monthly"
                          name="increases_november" id="id_define_monthly_increases_november" required 
                        />
                      </td>
                      <td>
                        <input 
                          type="text" value="0"
                          class="form-control validation-input-text input-amount-size amount-monthly"
                          name="increases_december" id="id_define_monthly_increases_december" required 
                        />
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </form>
        <div class="row">
          <div class="col-md-5 mt-3">
            <div class="table-responsive table-bordered">
              <table class="table">
                <tbody>
                  <tr>
                    <th>Saldo Anterior</th>
                    <td id="idPreviousBalance"></td>
                  </tr>
                  <tr>
                    <th>Total Incremento Mensual</th>
                    <td id="idIncreases"></td>
                  </tr>
                  <tr>
                    <th>Saldo a Final esperado</th>
                    <td id="idNewBalance"></td>
                  </tr>
                  <tr>
                    <th>Diferencia</th>
                    <td id="idDiference"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-bs-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-outline-safa" form="idFormScenarioEdit" >Aceptar</button>
      </div>
    </div>
  </div>
</div>