{% load static %}
{% load humanize %}
<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-bordered border-success" style="font-size: 0.9rem !important;">
        <thead>
          <tr style="background-color: #017224 !important; color: white;">
            <th class="text-center">Concepto</th>
            <th class="text-center">Detalle</th>
            <th class="text-center">Total</th>
          </tr>
        </thead>
        <tbody>
          {% for item in qs_details %}
            <tr>
              <td class="fw-bold">
                {{item.category_name}}
              </td>
              <td>
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th class="text-center">Cuenta</th>
                      <th class="text-center">Saldo a {{qs.parameter_id.date_base|date:'Y-m-d'}}</th>
                      <th class="text-center">Criterio</th>
                      <th class="text-center">Procentaje</th>
                      <th class="text-center">Nuevo Saldo</th>
                    </tr>
                  </thead>
                {% for sub_category in item.sub_categories %}
                  <tr>
                    <td
                      data-criteria="{{sub_category.criteria}}"
                      data-comment="{{sub_category.comment|default:''}}"
                      data-pk="{{sub_category.pk}}"
                      data-category-name="{{sub_category.category_name}}"
                      data-previous-balance="{{sub_category.previous_balance}}"
                      data-previous-balance-commas="{{sub_category.previous_balance|intcomma}}"
                      data-percentage="{{sub_category.percentage}}"
                      data-new-balance="{{sub_category.new_balance}}"
                      data-new-balance-commas="{{sub_category.new_balance|intcomma}}"
                      style="cursor: pointer;"
                      class="fw-bold add_criteria"
                    >
                      {{sub_category.category_name}}
                    </td>
                    <td class="">
                      <span class="float-end">{{sub_category.previous_balance|intcomma}}</span>
                    </td>
                    <td class="">
                      <span class="float-end">{{sub_category.get_criteria_display|default:''}}</span>
                    </td>
                    <td class="">
                      <span class="float-end">{{sub_category.percentage|intcomma}}</span>
                    </td>
                    <td class="add_monthly_amount"
                      data-pk="{{sub_category.pk}}"
       
                      data-amount_january="{{sub_category.amount_january|default:'0'}}"
                      data-amount_february="{{sub_category.amount_february|default:'0'}}"
                      data-amount_march="{{sub_category.amount_march|default:'0'}}"
                      data-amount_april="{{sub_category.amount_april|default:'0'}}"
                      data-amount_may="{{sub_category.amount_may|default:'0'}}"
                      data-amount_june="{{sub_category.amount_june|default:'0'}}"
                      data-amount_july="{{sub_category.amount_july|default:'0'}}"
                      data-amount_august="{{sub_category.amount_august|default:'0'}}"
                      data-amount_september="{{sub_category.amount_september|default:'0'}}"
                      data-amount_october="{{sub_category.amount_october|default:'0'}}"
                      data-amount_november="{{sub_category.amount_november|default:'0'}}"
                      data-amount_december="{{sub_category.amount_december|default:'0'}}"
      
                      data-increases_january="{{sub_category.increases_january|default:'0'}}"
                      data-increases_february="{{sub_category.increases_february|default:'0'}}"
                      data-increases_march="{{sub_category.increases_march|default:'0'}}"
                      data-increases_april="{{sub_category.increases_april|default:'0'}}"
                      data-increases_may="{{sub_category.increases_may|default:'0'}}"
                      data-increases_june="{{sub_category.increases_june|default:'0'}}"
                      data-increases_july="{{sub_category.increases_july|default:'0'}}"
                      data-increases_august="{{sub_category.increases_august|default:'0'}}"
                      data-increases_september="{{sub_category.increases_september|default:'0'}}"
                      data-increases_october="{{sub_category.increases_october|default:'0'}}"
                      data-increases_november="{{sub_category.increases_november|default:'0'}}"
                      data-increases_december="{{sub_category.increases_december|default:'0'}}"
                      data-new-balance="{{sub_category.new_balance|default:'0'}}"
                      data-previous-balance="{{sub_category.previous_balance|default:'0'}}"
                      data-category-name="{{sub_category.category_name}}"
                      style="cursor: pointer;"
                    >
                      <span class="float-end">{{sub_category.new_balance|intcomma}}</span>
                    </td>

                  </tr>
                {% endfor %}    
                </table>
              </td>
              <td>{{item.category_sum|default:'0'|intcomma}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
