{% extends 'master_budget/layout/base.html' %}
{% load static %}

{% block title %}Categoria de Cartera Crediticia {% endblock title %}

{% block breadcrumb %}
  <li class="breadcrumb-item active text-white" aria-current="page">/ Categoria de Cartera Crediticia</li>
{% endblock breadcrumb %}

{% block content %}
{% include 'loan_portfolio/category/add.html' %}
<!-- {% include 'loan_portfolio/category/edit.html' %} -->
<div class="container-fluid pt-4">
  <div class="card card-template">
    <div class="card-header">
      <div class="row">
        <div class="col-md-4">
          <h5 class="card-title fw-light fs-4">Categoria de Cartera Crediticia</h5>
        </div>
        <div class="col-md-2">
          <button class="btn btn-outline-safa" id="btnAddCategory">
            Agregar Categoria
          </button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive">
            <table class="table table-hover table-bordered table-striped table-sm">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Categoria</th>
                  <th>Fecha</th>
                  <th>Usuario</th>
                  <th>Estado</th>
                  <th class="text-center">Acción</th>
                </tr>
              </thead>
              <tbody>
                {% for item in qs_categories %}
                <tr>
                  <td>{{forloop.counter}}</td>
                  <td>{{item.name}}</td>
                  <td>{{item.created_at|date:'d/m/Y'}}</td>
                  <td>{{item.created_by}}</td>
                  <td>{{item.is_active|yesno:'Activo, Inactivo'}}</td>
                  <td class="text-center">
                    <div class="d-grid gap-2 d-flex justify-content-center">
                      <a
                        data-bs-toggle="tooltip"
                        data-bs-placement="top"
                        href="{% url 'category_loan_portfolio' item.pk %}"
                        class="btn btn-sm btn-outline-safa me-2 px-3"
                        title="Editar Categoria"
                      > <i class="bi bi-pencil-square"></i>
                      </a>
                    </div>
                    
                  </td>
                </tr>
                {% empty %}
                <tr>
                  <td colspan="6" class="text-center fs-5">No Data</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block javascript %}
<script>
  $(document).ready(()=>{
    $('.select2-style').select2({
      language: "es",
      dropdownParent: $('#addCategoryModal')
    });

    $(
      "#id_period option[value= '{{request.GET.period}}'] "
    ).prop('selected', true).trigger("change");

    $('.delete-projection').click(function(){
      let url = $(this).data('url')
      if(!!url){
        $('#deleteProjectionForm').attr('action', url)
        $('#deleteProjectionModal').modal('show');
      }
    })
  })
</script>

<script>
  $(document).ready(()=>{
    $('#btnAddCategory').click(()=>{
      let url ='{% url "categories_loan_portfolio" %}'
      loaderShow(true)
      $.ajax({
        type: 'GET',
        data: {},
        url: url
      })
      .done((res)=>{
        fillSelect(res)
        $('#addCategoryModal').modal('show')
        loaderShow(false)
      })
      .fail(handleError)
    })

    const fillSelect = (resp) => {
      resp = JSON.parse(resp)
      $(`#id_types_of_loans_add`).empty();
      $.each(resp.data, (key, val) => {
        $(`#id_types_of_loans_add`).append(`<option value='${val.Id}'>${val.Nombre}</option>`);
      })
      $(`#id_types_of_loans_add`).trigger("chosen:updated");
    }

    const handleError = (e) => {
      console.log(e);
      loaderShow(false)
      alert("No se pudo cargar Tipos de prestamos!")
    }
  })
</script>
{% endblock javascript %}