{% extends 'goals/layout/base.html' %}
{% load static %}

{% block title %}Dashboard {% endblock title %}

{% block content %}
<style>
  .tableFixHead {
    overflow: auto;
    height: 450px;
  }

  thead tr:nth-child(2) th,
  thead tr:nth-child(1) th {
    background-color: rgb(139, 23, 23) !important;
    background-color: rgb(1, 114, 36) !important;
    color: white;
  }
</style>
<div class="container-fluid pt-4">
  <div class="card card-template">
    <div class="card-header">
      <div class="row">
        <div class="col-md-3">
          <h5 class="card-title fw-light fs-4 mt-1">Dashboard</h5>
        </div>
        <div class="col-md-9">
          {% include 'goals/dashboard_filter_form.html' %}
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive">
            <div class="tableFixHead" style="display: none;">
              <table class="table table-sm table-hover table-striped table-bordered" id="tblGoals"
                style="font-size: 0.9rem !important;">
                <thead>
                </thead>
                <tbody></tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-12 mt-4" id="divCanvasBarChart"></div>
      </div>

    </div>
  </div>
</div>
{% endblock content %}

{% block javascript %}
<script src="{% static 'plugins/chart.min.js' %}"></script>
<script>
  $('.tableFixHead').hide()

  $(document).ready(() => {
    $('#id_btnSearch').on("click", () => {
      let period = $('#id_period').val()
      let ceco = $('#id_ceco').val()
      let month = $('#id_month').val()

      if (!!period && !!ceco && !!month) {
        loaderShow(true)
        $.ajax({
            method: 'GET',
            url: '{% url "goals_dashboard" %}',
            data: {
              period,
              ceco,
              month
            }
          })
          .done(getGoalData)
          .fail(({err}) => {
            loaderShow(false)
            console.log(err);
          })
      }
    })

    const getGoalData = (res) => {
      let data = JSON.parse(res);
      let months = data.months_labels
      let total_rating = data.total_rating
      const textFormatoPercentage = 'Porcentaje'
      data = orderArray(data.data)
      $('.tableFixHead').hide()
      $('#tblGoals').find('thead').empty();
      $('#tblGoals').find('thead').append(`
        <tr>
          <th>Filial</th>
          <th>Descripción</th>
          <th>MetaAnual</th>
          <th>MetaAlMes</th>
        </tr>
      `)
      months.forEach(el =>{$('#tblGoals').find('thead > tr').append(`<th>${el}</th>`)})
      $('#tblGoals').find('thead > tr').append(`
        <th>Ejecución Acumulada</th>
        <th>Ponderación</th>
        <th>Porcentaje</th>
        <th>Calificación ( ${parseFloat(total_rating).toFixed(2)} )</th>`
      )
      let $th = $('.tableFixHead').find('thead th')
      $('.tableFixHead').on('scroll', function () {
        $th.css('transform', 'translateY(' + this.scrollTop + 'px)');
      });

      $('#tblGoals').find('tbody').empty();
      data.forEach(el => {
        $('#tblGoals').find('tbody').append(`
            <tr>
              <td>${el.DescAgencia}</td>
              <td class="show-chart" role="button" data-element='${JSON.stringify(el)}' data-labels='${JSON.stringify(months)}' >${el.Nivel2}</td>
              <td>${setValueFormat(el.MetaAnual, el.Formato)}</td>
              <td>${setValueFormat(el.MetaAlMes, el.Formato)}</td>
              ${
                months.includes('Enero')
                ?`<td>${setValueFormat(el.EneroEjecucion, el.Formato)}</td>`
                :''
              }
              ${
                months.includes('Febrero')
                ?`<td>${setValueFormat(el.FebreroEjecucion, el.Formato)}</td>`
                :''
              }
              ${
                months.includes('Marzo')
                ?`<td>${setValueFormat(el.MarzoEjecucion, el.Formato)}</td>`
                :''
              }
              ${
                months.includes('Abril')
                ?`<td>${setValueFormat(el.AbrilEjecucion, el.Formato)}</td>`
                :''
              }
              ${
                months.includes('Mayo')
                ?`<td>${setValueFormat(el.MayoEjecucion, el.Formato)}</td>`
                :''
              }
              ${
                months.includes('Junio')
                ?`<td>${setValueFormat(el.JunioEjecucion, el.Formato)}</td>`
                :''
              }
              ${
                months.includes('Julio')
                ?`<td>${setValueFormat(el.JulioEjecucion, el.Formato)}</td>`
                :''
              }
              ${
                months.includes('Agosto')
                ?`<td>${setValueFormat(el.AgostoEjecucion, el.Formato)}</td>`
                :''
              }
              ${
                months.includes('Septiembre')
                ?`<td>${setValueFormat(el.SeptiembreEjecucion, el.Formato)}</td>`
                :''
              }
              ${
                months.includes('Octubre')
                ?`<td>${setValueFormat(el.OctubreEjecucion, el.Formato)}</td>`
                :''
              }
              ${
                months.includes('Noviembre')
                ?`<td>${setValueFormat(el.NoviembreEjecucion, el.Formato)}</td>`
                :''
              }
              ${
                months.includes('Diciembre')
                ?`<td>${setValueFormat(el.DiciembreEjecucion, el.Formato)}</td>`
                :''
              }
              <td>${setValueFormat(el.EjecucionAcumulada, el.Formato)}</td>
              <td>${el.Ponderacion}</td>
              <td><span class="float-end">${parseFloat(parseFloat(el.Porcentaje) * 100).toFixed(2)} %</span></td>
              <td><span class="float-end">${parseFloat(el.Calificacion).toFixed(2)}</span></td>
            </tr>
          `);
      });
      loaderShow(false)
      $('.tableFixHead').show()
    }

    const setValueFormat = (value, typeFormat) => {
      !!value ? value = value : value = 0
      if (typeFormat === 'Moneda') {
        value = parseFloat(value).toFixed(2)
        return new Intl.NumberFormat().format(value)
      } else if (typeFormat === 'Porcentaje') {
        value = `${parseFloat(value) * 100}`
        return `${parseFloat(value).toFixed(2)} %`
      } else if (typeFormat === 'Cantidad'){
        value = parseFloat(value).toFixed(0)
        return new Intl.NumberFormat().format(value)
      }
      return value
    }

    const orderArray = (data) => {
      data.sort(function (a, b) {
        return a.DescAgencia.localeCompare(b.DescAgencia) || a.Orden - b.Orden
      })
      return data
    }

    $(document).on('click', '.show-chart', function () {
      $('#divCanvasBarChart').empty()
      $('#divCanvasBarChart').append('<canvas id="myChart" width="400" height="150"></canvas>')
      
      let el = $(this).data('element')
      let month_labels = $(this).data('labels')
      const title = `Meta ${el.Nivel2} Periodo: ${el.Año}`
      const ctx = document.getElementById('myChart').getContext('2d');
      const data = {
        labels: month_labels,
        datasets: [
          {
            label: 'Meta',
            data: [
              el.EneroMeta,
              el.FebreroMeta,
              el.MarzoMeta,
              el.AbrilMeta,
              el.MayoMeta,
              el.JunioMeta,
              el.JulioMeta,
              el.AgostoMeta,
              el.SeptiembreMeta,
              el.OctubreMeta,
              el.NoviembreMeta,
              el.DiciembreMeta,

            ],
            borderColor: 'rgb(1, 114, 36, 0.5)',
            backgroundColor: 'rgb(1, 114, 36)',
            
          },
          {
            label: 'Ejecución',
            data: [
              el.EneroEjecucion,
              el.EneroEjecucion + el.FebreroEjecucion,
              el.EneroEjecucion + el.FebreroEjecucion + el.MarzoEjecucion,
              el.EneroEjecucion + el.FebreroEjecucion + el.MarzoEjecucion + el.AbrilEjecucion,
              el.EneroEjecucion + el.FebreroEjecucion + el.MarzoEjecucion + el.AbrilEjecucion + el.MayoEjecucion,
              el.EneroEjecucion + el.FebreroEjecucion + el.MarzoEjecucion + el.AbrilEjecucion + el.MayoEjecucion + el.JunioEjecucion,
              el.EneroEjecucion + el.FebreroEjecucion + el.MarzoEjecucion + el.AbrilEjecucion + el.MayoEjecucion + el.JunioEjecucion + el.JulioEjecucion,
              el.EneroEjecucion + el.FebreroEjecucion + el.MarzoEjecucion + el.AbrilEjecucion + el.MayoEjecucion + el.JunioEjecucion + el.JulioEjecucion + el.AgostoEjecucion,
              el.EneroEjecucion + el.FebreroEjecucion + el.MarzoEjecucion + el.AbrilEjecucion + el.MayoEjecucion + el.JunioEjecucion + el.JulioEjecucion + el.AgostoEjecucion + el.SeptiembreEjecucion,
              el.EneroEjecucion + el.FebreroEjecucion + el.MarzoEjecucion + el.AbrilEjecucion + el.MayoEjecucion + el.JunioEjecucion + el.JulioEjecucion + el.AgostoEjecucion + el.SeptiembreEjecucion + el.OctubreEjecucion,
              el.EneroEjecucion + el.FebreroEjecucion + el.MarzoEjecucion + el.AbrilEjecucion + el.MayoEjecucion + el.JunioEjecucion + el.JulioEjecucion + el.AgostoEjecucion + el.SeptiembreEjecucion + el.OctubreEjecucion + el.NoviembreEjecucion,
              el.EneroEjecucion + el.FebreroEjecucion + el.MarzoEjecucion + el.AbrilEjecucion + el.MayoEjecucion + el.JunioEjecucion + el.JulioEjecucion + el.AgostoEjecucion + el.SeptiembreEjecucion + el.OctubreEjecucion + el.NoviembreEjecucion + el.DiciembreEjecucion,
            ],
            borderColor: 'rgb(139, 23, 23, 0.5)',
            backgroundColor: 'rgb(139, 23, 23)',
          }
        ]
      }

      let config = {
        type: 'line',
        data: data,
        options: {
          responsive: true,
          plugins: {
            legend: {
              position: 'top',
            },
            title: {
              display: true,
              text: title
            }
          }
        },
      }

      const myChart = new Chart(ctx, config);
      $([document.documentElement, document.body]).animate({
        scrollTop: $("#myChart").offset().top
    }, 500)
    })
  })
</script>
{% endblock javascript %}