{% load static %}
{% load humanize %}
<div class="row mt-3">
  <div class="col-md-6">
    <div class="table-responsive">
      <table class="table table-striped" id="tblComments">
        <thead>
          <tr>
            <th>Comentarios</th>
          </tr>
          <tr>
            <th>
              <div class="d-grid gap-2 d-flex justify-content-center align-items-center">
                <textarea
                  name="comment"
                  id="id_comment_scenario"
                  class="form-control mb-2"
                  rows="2"
                  style="resize: none;"></textarea>
                <button
                  type="button"
                  class="btn btn-outline-primary float-end"
                  id="btnAddCommentScenario"
                >Comentar</button>
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>