{% load static %}
<div class="sidebar close">
  <div class="logo-details">
    <span class="logo_name">
      <img src="{% static 'img/white-icon.png' %}" alt="" srcset="" width="60%" style="text-align: center;">
    </span>
  </div>
  <ul class="nav-links">
    <li>
      <a href="#" class="institutional-golden-color">
        <i class="bi bi-grid-3x3 "></i>
        <span class="link_name">Dashboard</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="#">Dashboard</a></li>
      </ul>
    </li>
    <li>
      <div class="icon-link">
        <a href="#">
          <i class="bi bi-collection"></i>
          <span class="link_name">Presupuestos</span>
        </a>
        <i class='bi bi-chevron-down arrow'></i>
      </div>
      <ul class="sub-menu">
        <li><a class="link_name" href="#">Presupuestos</a></li>
        <li><a href="#">Gastos</a></li>
        <li><a href="#">Indirecto</a></li>
        <li><a href="#">Costos</a></li>
        <li><a href="#">Ingresos</a></li>
      </ul>
    </li>
    <li>
      <div class="icon-link">
        <a href="#">
          <i class="bi bi-safe"></i>
          <span class="link_name">Egresos</span>
        </a>
        <i class='bi bi-chevron-down arrow'></i>
      </div>
      <ul class="sub-menu">
        <li><a class="link_name" href="#">Egresos</a></li>
        <li><a href="#">Inversiones</a></li>
        <li><a href="#">Viaticos</a></li>
        <li><a href="#">Personal</a></li>
      </ul>
    </li>
    <li>
      <div class="icon-link">
        <a href="#">
          <i class="bi bi-clipboard-data"></i>
          <span class="link_name">Traslados</span>
        </a>
        <i class='bi bi-chevron-down arrow'></i>
      </div>
      <ul class="sub-menu">
        <li><a class="link_name" href="#">Traslados</a></li>
        <li><a href="#">Inversiones</a></li>
        <li><a href="#">Gastos</a></li>
      </ul>
    </li>
    <li>
      <div class="icon-link">
        <a href="#">
          <i class="bi bi-gear"></i>
          <span class="link_name">Admin</span>
        </a>
        <i class='bi bi-chevron-down arrow'></i>
      </div>
      <ul class="sub-menu">
        <li><a class="link_name" href="#">Administración</a></li>
        <li><a href="#">Proyectos</a></li>
        <li><a href="#">Proyección</a></li>
        <li><a href="#">Periodos</a></li>
        <li><a href="#">Cuentas Contables</a></li>
        <li><a href="#">Centros de Costos</a></li>
        <li><a href="#">Indice Inflacionario</a></li>
        <li><a href="#">Puestos</a></li>
        <li><a href="#">Habilitar-Deshabilitar Acceso</a></li>
      </ul>
    </li>
    <li>
      <div class="icon-link">
        <a href="#">
          <i class="bi bi-people"></i>
          <span class="link_name">Seguridad</span>
        </a>
        <i class='bi bi-chevron-down arrow'></i>
      </div>
      <ul class="sub-menu">
        <li><a class="link_name" href="#">Seguridad</a></li>
        <li><a href="#">Roles</a></li>
        <li><a href="#">Usuarios</a></li>
      </ul>
    </li>

    <li>
      <div class="profile-details">
        <div class="profile-content">
          <i class="bi bi-person-circle"></i>
        </div>
        <div class="name-job">
          <div class="profile_name">Juan Carlos</div>
          <div class="job">Web Developer</div>
        </div>
        <i class="bi bi-box-arrow-left"></i>
      </div>
    </li>
  </ul>
</div>