{% load static %}
<div class="sidebar close">
  <div class="logo-details">
    <span class="logo_name">
      <img src="{% static 'img/white-icon.png' %}" alt="" srcset="" width="60%" style="text-align: center;">
    </span>
  </div>
  <ul class="nav-links">
    <li>
      <a href="{% url 'dashboard' %}" class="institutional-golden-color">
        <i class="bi bi-grid-3x3 "></i>
        <span class="link_name">Dashboard</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="{% url 'dashboard' %}">Dashboard</a></li>
      </ul>
    </li>
    <li>
      <div class="icon-link">
        <a href="#">
          <i class="bi bi-collection"></i>
          <span class="link_name">Ingreso Ppto.</span>
        </a>
        <i class='bi bi-chevron-down arrow'></i>
      </div>
      <ul class="sub-menu">
        <li><a class="link_name" href="#">Ingreso Ppto.</a></li>
        <li><a href="{% url 'budget_register' %}">Gastos</a></li>
        <li><a href="{% url 'travel_budget_register' %}">Viaticos</a></li>
        <li><a href="{% url 'investment_budget_register' %}">Inversión</a></li>
        <li><a href="{% url 'staff_budgets_register' %}">Personal</a></li>
        <li><a href="{% url 'indirect_budget_register' %}">Indirecto</a></li>
        <li><a href="{% url 'cost_budget_register' %}">Costos</a></li>
        <li><a href="{% url 'income_budget_register' %}">Ingresos</a></li>
      </ul>
    </li>
    <li>
      <div class="icon-link">
        <a href="#">
          <i class="bi bi-bar-chart-steps"></i>
          <span class="link_name">Ppto. Maestro</span>
        </a>
        <i class='bi bi-chevron-down arrow'></i>
      </div>
      <ul class="sub-menu">
        <li><a class="link_name" href="#">Ppto. Maestro</a></li>
        <li><a href="#">Gastos</a></li>
        <li><a href="#">Indirecto</a></li>
        <li><a href="#">Costos</a></li>
        <li><a href="#">Ingresos</a></li>
      </ul>
    </li>
    <li>
      <div class="icon-link">
        <a href="#">
          <i class="bi bi-gear"></i>
          <span class="link_name">Admin</span>
        </a>
        <i class='bi bi-chevron-down arrow'></i>
      </div>
      <ul class="sub-menu">
        <li><a class="link_name" href="#">Administración</a></li>
        <li><a href="#">Proyectos</a></li>
        <li><a href="#">Proyección</a></li>
        <li><a href="#">Periodos</a></li>
        <li><a href="{% url 'investment_accounts' %}">Cuentas de Inversión</a></li>
        <li><a href="{% url 'investments' %}">Inversiones</a></li>
        <li><a href="{% url 'cost_centers' %}">Centros de Costos</a></li>
        <li><a href="{% url 'inflationary_index' %}">Indice Inflacionario</a></li>
        <li><a href="{% url 'job_positions' %}">Puestos</a></li>
        <li><a href="#">Accesos</a></li>
      </ul>
    </li>
    <li>
      <div class="icon-link">
        <a href="#">
          <i class="bi bi-safe"></i>
          <span class="link_name">Egresos</span>
        </a>
        <i class='bi bi-chevron-down arrow'></i>
      </div>
      <ul class="sub-menu">
        <li><a class="link_name" href="#">Egresos</a></li>
        <li><a href="#">Inversiones</a></li>
        <li><a href="#">Viaticos</a></li>
        <li><a href="#">Personal</a></li>
      </ul>
    </li>
    <li>
      <div class="icon-link">
        <a href="#">
          <i class="bi bi-clipboard-data"></i>
          <span class="link_name">Traslados</span>
        </a>
        <i class='bi bi-chevron-down arrow'></i>
      </div>
      <ul class="sub-menu">
        <li><a class="link_name" href="#">Traslados</a></li>
        <li><a href="#">Inversiones</a></li>
        <li><a href="#">Gastos</a></li>
      </ul>
    </li>
    <li>
      <div class="icon-link">
        <a href="#">
          <i class="bi bi-people"></i>
          <span class="link_name">Seguridad</span>
        </a>
        <i class='bi bi-chevron-down arrow'></i>
      </div>
      <ul class="sub-menu">
        <li><a class="link_name" href="#">Seguridad</a></li>
        <li><a href="{% url 'users' %}">Usuarios</a></li>
        <li><a href="{% url 'users_cost_centers' %}">Usuarios por CECO</a></li>
        <li><a href="{% url 'roles' %}">Roles</a></li>
      </ul>
    </li>

    <li>
      <div class="profile-details">
        <div class="profile-content">
          <i class="bi bi-person-circle"></i>
        </div>
        <div class="name-job">
          <div class="profile_name">{{request.user.first_name}}</div>
          <div class="job">Sagrada Familia</div>
        </div>
        <a href="{% url 'logout' %}" class="text-decoration-none">
          <i class="bi bi-box-arrow-left"></i>
        </a>
      </div>
    </li>
  </ul>
</div>