{% extends 'layout/base.html' %}
{% load static %}

{% block title %}Editar Usuario {{user}} {% endblock title %}

{% block breadcrumb %}
  <li class="breadcrumb-item text-white ">
    <a href="{% url 'roles' %}" class="text-white text-decoration-none">/ Roles</a>
  </li>
  <li class="breadcrumb-item active text-white before-none" aria-current="page"> / Editando rol {{role.name}}</li>
{% endblock breadcrumb %}

{% block content %}
{% include 'user_create_modal.html' %}
{% include 'user_change_status_modal.html' %}
<div class="container-fluid pt-3">
  <div class="row">
    <div class="col-md-12">
      <div class="card card-template">
        <div class="card-header">
          <div class="row mb-2">
            <div class="col-md-12 d-flex align-items-center">
              <h1 class="card-title fs-4 fw-light mb-0">Editar Rol</h1>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="method" value="update">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group mb-3">
                  <label for="id_name_group">Nombre</label>
                  <input
                    class="form-control"
                    id="id_name_group"
                    maxlength="80"
                    name="name"
                    required
                    type="text"
                    value="{{role.name}}"
                  />
                </div>
              </div>
              <div class="col-md-12">
                <div class="group mb-3">
                  <label for="id_permissions">Permisos</label>
                  <select
                    name="permissions[]"
                    class="form-select select2-style-roles"
                    multiple="multiple"
                    style="width: 100%;"
                    id="id_permissions"
                  >
                    {% for permission in permissions %}
                      <option 
                        value="{{permission.pk}}"
                        {% if permission in role.permissions.all %} selected {% endif %}
                      >
                        {{permission.name}}
                      </option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-safa">Aceptar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
{% block javascript %}
<script>
  $(document).ready(() => {
    $('.select2-style-roles').select2({
      language: "es"
    });
  })
</script>
{% endblock javascript %}