<div class="modal fade" id="UserRegisterModal" tabindex="-1" aria-labelledby="UserRegisterModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fw-light" id="UserRegisterModalLabel">Registrar Usuario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="POST">
        <div class="modal-body">
          {% csrf_token %}
          {% for hidden in form.hidden_fields %}
            {{ hidden }}
          {% endfor %}
          <div class="row">
            {% for field in form.visible_fields  %}
            <div class="col-md-6">
              <div class="form-group mb-3">
                {{ field.label_tag }}
                {{ field }}
                {% if field.help_text %}
                  <small class="text-muted">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                  <p class="text-danger">{{ error }}</p>
                {% endfor %}
              </div>
            </div>
            {% endfor %}

            <div class="col-md-12">
              <div class="group mb-3">
                <label for="id_groups">Roles</label>
                <select
                  name="groups[]"
                  class="form-select select2-style-roles"
                  multiple="multiple"
                  style="width: 100%;"
                  id="id_groups"
                >
                  {% for group in groups %}
                    <option value="{{group.pk}}">{{group.name}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-safa">Aceptar</button>
        </div>
      </form>
    </div>
  </div>
</div>