<div class="modal fade" id="addLabelValueScenarioModal" tabindex="-1" aria-labelledby="addLabelValueScenarioModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fw-light">Agregar Valor</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="POST">
        <div class="modal-body">
          {% csrf_token %}
          <input type="hidden" name="method" value="add-label-value">
          {% for hidden in form.hidden_fields %}
            {{ hidden }}
          {% endfor %}
          <div class="row">
            <div class="col-md-6">
              <div class="form-group mb-3">
                {{form.id_surplus_category.label_tag}}
                {{form.id_surplus_category}}
                <small class="text-muted">{{ form.id_surplus_category.help_text }}</small>
                {% for error in form.id_surplus_category.errors %}
                  <p class="text-danger">{{ error }}</p>
                {% endfor %}
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group mb-3">
                {{form.title.label_tag}}
                {{form.title}}
                <small class="text-muted">{{ form.title.help_text }}</small>
                {% for error in form.title.errors %}
                  <p class="text-danger">{{ error }}</p>
                {% endfor %}
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="idChbxAmount" value="percentaje" name="way">
                <label class="form-check-label" for="idChbxAmount">Ingresar Monto</label>
              </div>
            </div>
            <div class="col-md-6" id="divPercentage">
              <div class="form-group mb-3">
                {{form.percentage.label_tag}}
                {{form.percentage}}
                <small class="text-muted">{{ form.percentage.help_text }}</small>
                {% for error in form.percentage.errors %}
                  <p class="text-danger">{{ error }}</p>
                {% endfor %}
              </div>
            </div>
            <div class="col-md-6" id="divAmount">
              <div class="form-group mb-3">
                <label for="id_amount">Monto</label>
                <input type="text" name="amount" value="0" id="idAmount" class="form-control validation-input-text" />
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-bs-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-safa">Aceptar</button>
        </div>
      </form>
    </div>
  </div>
</div>