{% load static %}
{% load humanize %}
{% for item in data %}
<tr>
  <td>{{item.category_name}}</td>
  <td>
    <table class="table table-bordered">
    {% for sub_category in item.sub_categories %}
    <tr class="table-active">
      <td>{{sub_category.title}}</td>
      <td title="{{sub_category.percentage}}"><span class="me-auto float-end">{{sub_category.percentage|floatformat:2}}</span></td>
      <td><span class="me-auto float-end">{{sub_category.amount|intcomma|default:''}}</span></td>
      <td>
        <form method="POST" id="formDeleteSubCategory_{{sub_category.pk}}">
          {% csrf_token %}
          <input type="hidden" name="method" value="delete-sub-category">
          <input type="hidden" name="id" value="{{sub_category.pk}}">
          <button 
            type="button"
            class="btn btn-sm btn-outline-danger btn-delete-sub-category"
            data-form="formDeleteSubCategory_{{sub_category.pk}}"
            data-name="{{sub_category.title}}"
            >
            <i class="bi bi-x-lg"></i>
          </button>
        </form>
      </td>
    </tr>
    {% endfor %}
    </table>
  </td>
  <td>{{item.category_sum|default:'0'|intcomma}}</td>
</tr>
{% endfor %}