{% extends 'layout/base.html' %}
{% load static %}

{% block title %}Dashboard {% endblock title %}

{% block content %}
<div class="container-fluid pt-4">
  <div class="card br-0">
    <div class="card-body">
      <h4>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime mollitia libero id! Maxime similique vitae esse
        aliquid rem totam aut optio, dolor sunt eveniet perferendis distinctio eos sequi ea soluta.
      </h4>
    </div>
  </div>
</div>
{% endblock content %}