{% extends 'master_budget/layout/base.html' %}
{% load static %}
{% load humanize %}

{% block title %}Escenarios Planilla{% endblock title %}

{% block breadcrumb %}
  <li class="breadcrumb-item text-white ">
    <a href="{% url 'scenarios_payment_payroll' %}" class="text-white text-decoration-none">/ Planilla - Escenarios</a>
  </li>
  <li class="breadcrumb-item active text-white before-none" aria-current="page"> / Correlativo: {{qs.correlative}}</li>
{% endblock breadcrumb %}

{% block content %}
{% include 'payment_payroll/scenario_change_status.html' %}
{% include 'payment_payroll/scenario_clone.html' %}
{% include 'payment_payroll/scenario_recalculate.html' %}
{% include 'payment_payroll/scenario_update_cta.html' %}
{% include 'payment_payroll/scenario_edit.html' %}
{% include 'payment_payroll/scenario_delete.html' %}
{% include 'payment_payroll/scenario_edit_percentages.html' %}
{% include 'payment_payroll/scenario_edit_percentages_ceco.html' %}
{% include 'payment_payroll/scenario_edit_permanent_amount_initial.html' %}
<div class="container-fluid mt-1">
  <div class="card card-template">
    <div class="card-header">
      <div class="row">
        <div class="col-md-3">
          <h5
            class="card-title fw-light fs-5"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="{{qs.comment}}"
            >Fecha Cierre {{qs.parameter_id}}
          </h5>
        </div>
        <div class="col-md-9">
          <div class="d-grid gap-2 d-flex justify-content-end">
            <button
              id="openModalChangeScenario"
              type="button"
              class="btn btn-outline-dark btn-sm float-end"
              data-url="{% url 'scenario_payment_payroll' qs.pk %}"
              data-text="{{qs.is_active|yesno:'Secundario,Principal'}}"
            >
            {{qs.is_active|yesno:'Mover a Secundario, Mover a Principal'}}
            </button>
            <button
              id="openModalDeleteScenario"
              type="button"
              data-url="{% url 'scenario_payment_payroll' qs.pk %}"
              class="btn btn-outline-dark btn-sm float-end"
            >Eliminar
            </button>
            <button
              type="button"
              class="btn btn-outline-warning btn-sm float-end"
              id="openModalRecalculateScenario"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              title="Ejecutar en el caso de eliminaciones en ingreso de nuevas contrataciones"
              >Recalcular
            </button>

            <button
              type="button"
              class="btn btn-outline-secondary btn-sm float-end"
              id="openModalUpdateScenario"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              title="Actualizar Montos en Cuentas contables de planilla"
            >Actualizar CTA
            </button>

            <button type="button" class="btn btn-outline-danger btn-sm float-end" id="openModalCloneScenario">Clonar</button>
            <button type="button" class="btn btn-outline-primary btn-sm float-end" id="openModalScenarioEditPercentage">Aumentos</button>
            <button type="button" class="btn btn-outline-success btn-sm float-end" id="openModalScenarioEdit">Editar</button>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-perm-tab" data-toggle="tab" href="#nav-perm" role="tab"
            aria-controls="nav-perm" aria-selected="true">Permanentes</a>
          <a class="nav-item nav-link" id="nav-temporal-tab" data-toggle="tab" href="#nav-temporal" role="tab"
            aria-controls="nav-temporal" aria-selected="false">Temporales</a>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-perm" role="tabpanel" aria-labelledby="nav-perm-tab">
          {% include 'payment_payroll/scenario_table_detail.html' %}
        </div>
        <div class="tab-pane fade" id="nav-temporal" role="tabpanel" aria-labelledby="nav-temporal-tab">
          {% include 'payment_payroll/scenario_table_detail_temp.html' %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block javascript %}
  <script>
    let triggerTabList = [].slice.call(document.querySelectorAll('#nav-tab a'))
    triggerTabList.forEach(function (triggerEl) {
      let tabTrigger = new bootstrap.Tab(triggerEl)

      triggerEl.addEventListener('click', function (event) {
        event.preventDefault()
        tabTrigger.show()
      })
    })
  </script>
  <script>
    $(document).ready(()=>{
      $('.items_remove').change(function(){
        let actualValue = $('#remove_budgeted_object').val()
        let array = actualValue === '' ? [] : JSON.parse(actualValue)
        if($(this).is(':checked')){
          if(!array.includes($(this).val())) array.push($(this).val())
        }else{
          for(let i=0; i< array.length; i++){
            if(array[i]=== $(this).val()) array.splice(i,1)
          }
        }
        $('#remove_budgeted_object').val(JSON.stringify(array))
      })

      $('.items_add').change(function(){
        let actualValue = $('#add_budgeted_object').val()
        let array = actualValue === '' ? [] : JSON.parse(actualValue)
        if($(this).is(':checked')){
          if(!array.includes($(this).val())) array.push($(this).val())
        }else{
          for(let i=0; i< array.length; i++){
            if(array[i]=== $(this).val()) array.splice(i,1)
          }
        }
        $('#add_budgeted_object').val(JSON.stringify(array))

      })

      $('#submitScenarioEdit').click(function(){
        let remove = $('#remove_budgeted_object').val()
        let add = $('#add_budgeted_object').val()
        if(!!remove || !!add){
          if(!!remove === false) $('#remove_budgeted_object').val('[]')
          if(!!add === false) $('#add_budgeted_object').val('[]')
          $('#idFormScenarioEdit').submit()
        }
        else{
          alert('Debe seleccionar los items que desea agregar o quitar del escenario!!')
        }
      })
      $('#submitScenarioEditPercentage').click(function(){
        $('#idFormScenarioEditPercentage').submit();
      })
      $('#submitScenarioEditPercentageCeco').click(function(){
        $('#idFormScenarioEditPercentageCeco').submit();
      })
    })
  </script>
  <script>
    $(document).ready(()=>{
      $('.adjusted_salary').click(function(){
        let pk = $(this).data('pk')
        let amountAdjusted = $(this).data('amount-adjusted')
        let amountPerm = $(this).data('amount-perm')
        let ceco = $(this).data('ceco')
        $('#title_adjusted_salary').text(`Editar en salario de Ceco: ${ceco}`)
        $('#pk_adjusted_salary').val(pk)
        $('#id_amount_adjusted').val(numberWithCommas(amountAdjusted))
        $('#id_amount_perm').val(amountPerm)
        
        $('#editAmountSalaryScenarioModal').modal('show');
      })
      $('.edit_scenario_percentage_ceco').click(function(){
        let pk = $(this).data('ceco-pk')
        let ceco = $(this).data('ceco')
        let percentage_increase_january = $(this).data('percentage_increase_january')
        let percentage_increase_february = $(this).data('percentage_increase_february')
        let percentage_increase_march = $(this).data('percentage_increase_march')
        let percentage_increase_april = $(this).data('percentage_increase_april')
        let percentage_increase_may = $(this).data('percentage_increase_may')
        let percentage_increase_june = $(this).data('percentage_increase_june')
        let percentage_increase_july = $(this).data('percentage_increase_july')
        let percentage_increase_august = $(this).data('percentage_increase_august')
        let percentage_increase_september = $(this).data('percentage_increase_september')
        let percentage_increase_october = $(this).data('percentage_increase_october')
        let percentage_increase_november = $(this).data('percentage_increase_november')
        let percentage_increase_december = $(this).data('percentage_increase_december')
        $("#id_percentage_increase_ceco_january").val(percentage_increase_january);
        $("#id_percentage_increase_ceco_february").val(percentage_increase_february);
        $("#id_percentage_increase_ceco_march").val(percentage_increase_march);
        $("#id_percentage_increase_ceco_april").val(percentage_increase_april);
        $("#id_percentage_increase_ceco_may").val(percentage_increase_may);
        $("#id_percentage_increase_ceco_june").val(percentage_increase_june);
        $("#id_percentage_increase_ceco_july").val(percentage_increase_july);
        $("#id_percentage_increase_ceco_august").val(percentage_increase_august);
        $("#id_percentage_increase_ceco_september").val(percentage_increase_september);
        $("#id_percentage_increase_ceco_october").val(percentage_increase_october);
        $("#id_percentage_increase_ceco_november").val(percentage_increase_november);
        $("#id_percentage_increase_ceco_december").val(percentage_increase_december);
        $('#id_percentage_increase_ceco').val(pk)
        $('#title_increase_ceco').text(`Editar aumento selectivo de Ceco: ${ceco}`)
        $('#editScenarioPercentageCecoModal').modal('show');
      })
    })
  </script>

  <!-- Modals Scripts -->
  <script>
    $(document).ready(()=>{
      $('.select2-style').select2({
        language: "es",
        dropdownParent: $('#cloneScenarioModal')
      });
      const openEditModal = ()=> $('#editScenarioModal').modal('show')
      if('{{request.GET.option}}' === 'open_calculations_modal') openEditModal()
      $('#openModalScenarioEdit').click(openEditModal)
      $('#openModalCloneScenario').click(()=> $('#cloneScenarioModal').modal('show'))
      
      $('#openModalRecalculateScenario').click(()=> $('#recalculateScenarioModal').modal('show'))
      $('#openModalUpdateScenario').click(()=> $('#updateCtaScenarioModal').modal('show'))

      $('#openModalScenarioEditPercentage').click(()=> $('#editScenarioPercentageModal').modal('show'))
      $('#openModalChangeScenario').click(()=> {
        let url = $('#openModalChangeScenario').data('url')
        let text = $('#openModalChangeScenario').data('text')
        $('#formChangeStatusScenario').attr('action', url);
        $('#textChangeStatus').html(`¿Desea mover escenario a ${text}?`)
        $('#changeStatusScenarioModal').modal('show')
      })
      $('#openModalDeleteScenario').click(()=> {
        let url = $('#openModalDeleteScenario').data('url')
        $('#formDeleteScenario').attr('action', url);
        $('#textDelete').html(`¿Desea eliminar escenario?`)
        $('#deleteScenarioModal').modal('show')
      })
      $('#openModalGlobalScenario').click(()=>{
        $('#globalNonPerformingAssetsScenarioModal').modal('show')
      })
    })
  </script>
  <!-- End Modals Scripts -->

{% endblock javascript %}