{% load static %}
{% load humanize %}
<div class="row">
  <div class="col-md-12" style="max-height: 400px!important;overflow-y: scroll;">
    <table class="table table-hover table-bordered border-success table-striped" style="font-size: 0.9rem !important;">
      <thead>
        <tr style="background-color: #017224 !important; color: white;">
          <th class="text-center">Centro Costo</th>
          <th class="text-center">Base</th>
          <th>Ene</th>
          <th>Feb</th>
          <th>Mar</th>
          <th>Abr</th>
          <th>May</th>
          <th>Jun</th>
          <th>Jul</th>
          <th>Ago</th>
          <th>Sep</th>
          <th>Oct</th>
          <th>Nov</th>
          <th>Dic</th>
          <th>Totales</th>
        </tr>
      </thead>
      <tbody>
        {% for item in details %}
          <tr>
            <td><b>{{item.cost_center_id.desccentrocosto}}</b></td>
            <td><span class="float-end">{{item.amount_initial_temp|floatformat:2|intcomma}}</span></td>
            <td><span class="float-end">{{item.amount_temp_january|floatformat:2|intcomma}}</span></td>
            <td><span class="float-end">{{item.amount_temp_february|floatformat:2|intcomma}}</span></td>
            <td><span class="float-end">{{item.amount_temp_march|floatformat:2|intcomma}}</span></td>
            <td><span class="float-end">{{item.amount_temp_april|floatformat:2|intcomma}}</span></td>
            <td><span class="float-end">{{item.amount_temp_may|floatformat:2|intcomma}}</span></td>
            <td><span class="float-end">{{item.amount_temp_june|floatformat:2|intcomma}}</span></td>
            <td><span class="float-end">{{item.amount_temp_july|floatformat:2|intcomma}}</span></td>
            <td><span class="float-end">{{item.amount_temp_august|floatformat:2|intcomma}}</span></td>
            <td><span class="float-end">{{item.amount_temp_september|floatformat:2|intcomma}}</span></td>
            <td><span class="float-end">{{item.amount_temp_october|floatformat:2|intcomma}}</span></td>
            <td><span class="float-end">{{item.amount_temp_november|floatformat:2|intcomma}}</span></td>
            <td><span class="float-end">{{item.amount_temp_december|floatformat:2|intcomma}}</span></td>
            <td><span class="float-end fw-bold">{{item.sum_ceco_temp|floatformat:2|intcomma}}</span></td>
          </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <td></td>
          <td>{{qs_sum_temp.sum_base_temp|floatformat:2|intcomma}}</td>
          <td>{{qs_sum_temp.sum_ene_temp|floatformat:2|intcomma}}</td>
          <td>{{qs_sum_temp.sum_feb_temp|floatformat:2|intcomma}}</td>
          <td>{{qs_sum_temp.sum_mar_temp|floatformat:2|intcomma}}</td>
          <td>{{qs_sum_temp.sum_abr_temp|floatformat:2|intcomma}}</td>
          <td>{{qs_sum_temp.sum_may_temp|floatformat:2|intcomma}}</td>
          <td>{{qs_sum_temp.sum_jul_temp|floatformat:2|intcomma}}</td>
          <td>{{qs_sum_temp.sum_jun_temp|floatformat:2|intcomma}}</td>
          <td>{{qs_sum_temp.sum_ago_temp|floatformat:2|intcomma}}</td>
          <td>{{qs_sum_temp.sum_sep_temp|floatformat:2|intcomma}}</td>
          <td>{{qs_sum_temp.sum_oct_temp|floatformat:2|intcomma}}</td>
          <td>{{qs_sum_temp.sum_nov_temp|floatformat:2|intcomma}}</td>
          <td>{{qs_sum_temp.sum_dic_temp|floatformat:2|intcomma}}</td>
          <td class="fw-bold">{{sum_total_temp|floatformat:2|intcomma}}</td>
        </tr>
        <tr style="background-color: #017224 !important; color: white;">
          <td class="text-center">Centro Costo</td>
          <th class="text-center">Base</th>
          <td class="text-center">Ene</td>
          <td class="text-center">Feb</td>
          <td class="text-center">Mar</td>
          <td class="text-center">Abr</td>
          <td class="text-center">May</td>
          <td class="text-center">Jun</td>
          <td class="text-center">Jul</td>
          <td class="text-center">Ago</td>
          <td class="text-center">Sep</td>
          <td class="text-center">Oct</td>
          <td class="text-center">Nov</td>
          <td class="text-center">Dic</td>
          <td class="text-center">Totales</td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
