{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>403 Not permission required</title>
  <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/select2/css/select2.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/icons/bootstrap-icons.css' %}">
</head>
<body>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="card shadow-lg border-0 rounded-lg mt-5 mx-auto" style="width: 30rem;">
          <h1 class="fw-light fs-1 card-header display-1 text-muted text-center"><i class="bi bi-exclamation-octagon text-danger"></i> 403</h1>
  
          <p class="fw-light fs-5 text-danger text-center mt-5">Usted no tiene permiso para ver la pagina solicitada</p>
          
          <div class="card-body">
            <a type="button" href="{% url 'dashboard' %}"
            class="btn btn-sm btn-outline-danger"> Ir a Inicio </a>
          </div>
        </div>
      </div>
    </div> 
  </div>
  <script src="{% static 'plugins/popper/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.js' %}"></script>
  <script src="{% static 'js/jquery.min.js' %}"></script> 
</body>
</html>