{% extends 'goals/layout/base.html' %}
{% load static %}

{% block title %} Metas por Periodo {% endblock title %}

{% block breadcrumb %}
  <li class="breadcrumb-item active text-white" aria-current="page">/ Definición de metas periodo {{qs_global_goal_period.period_id}} </li>
{% endblock breadcrumb %}

{% block content %}
{% include 'goals_period/goals_period_modal_add.html' %}

<div class="container-fluid pt-4">
  <div class="card card-template">
    <div class="card-header">
      <div class="row">
        <div class="col-md-4">
          <h5 class="card-title fw-light fs-4">Definición de Metas</h5>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive">
            <table class="table table-hover table-bordered table-striped table-sm">
              <thead>
                <tr>
                  <th>Metas</th>
                  <th>Monto anual</th>
                  <th>Ponderación</th>
                  <th class="text-center">Acción</th>
                </tr>
                <tr>
                  <form method="post">
                    {% csrf_token %}
                    <th>
                      <select name="goal_id" class="form-select goals_definition" id="id_goal" data-live-search="true" style="width: 100%;">
                        <option  value="">---- Seleccione meta a definir ----</option>
                        {% for i in qs_goals %}
                        <option value="{{i.pk}}">{{i.description}}</option>
                        {% endfor %}
                      </select>
                    </th>
                    <th>
                      <div class="d-grid gap-2 d-flex justify-content-center">
                        <input 
                          type="number"
                          class="form-control"
                          id="id_annual_amount"
                          required 
                        />
                      </div>
                    </th>
                    <th>
                      <div class="d-grid gap-2 d-flex justify-content-center">
                        <input 
                          type="number"
                          class="form-control"
                          max="100"
                          min="0"
                          id="#"
                          required 
                        />
                      </div>
                    </th>
                    <th>
                      <div class="d-grid gap-2 d-flex justify-content-center">
                        <input 
                          class="btn btn-success bi bi-check-lg"
                          type="submit"
                          data-bs-toggle="tooltip"
                          title="Asignar"
                          >
                      </div>
                    </th>
                  </form>
                </tr>
              </thead>
              <tbody>
                {% for item in result %}
                  <tr>
                    <td class="text-center">{{forloop.counter}}</td>
                    <td>{{item.id_goal}}</td>
                    <td>{{item.id_global_goal_period}}</td>
                    <td>{{item.description}}</td>
                    <td>{{item.period_id.descperiodo}}</td>

                  </tr>
                  {% empty %}
                  <tr>
                    <td colspan="6" class="text-center fs-5">No Data</td>
                  </tr>
                  {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block javascript %}
<script>
  $(document).ready(()=>{
    $('.select2-st-yle').select2({language: "es"});
  })

  $("#id_goal").on("change", function(){
      let goalId = $('#id_goal').val();
      loaderShow(true)
      $.ajax({
        type: 'GET',
        data: {goalId: goalId},
        url: '{{request.get_full_path}}'
      }).done((res)=>{
        let data = JSON.parse(res)
        data.definition === 'A' && $('#id_annual_amount').attr('readonly', true)
        data.definition === 'A' || $('#id_annual_amount').attr('readonly', false)
        $('#id_annual_amount').val(data.annual_amount)
        loaderShow(false)
      })
      .fail(handleError)
    })

    const handleError = (e) => {
      console.log(e);
      loaderShow(false)
      alert("Ha ocurrido un error!")
    }

</script>
{% endblock javascript %}