{% load static %}
<div class="sidebar close">
  <div class="logo-details">
    <span class="logo_name">
      <img src="{% static 'img/white-icon.png' %}" alt="" srcset="" width="60%" style="text-align: center;">
    </span>
  </div>
  <ul class="nav-links">
    <li>
      <a href="{% url 'dashboard' %}" class="institutional-golden-color">
        <i class="bi bi-arrow-left"></i>
        <span class="link_name">Volver Ingreso PPTO</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="{% url 'dashboard' %}">Volver Ingreso PPTO.</a></li>
      </ul>
    </li>
    {% if perms.goals.puede_listar_definicion_de_periodo_de_meta %}
      <li>
        <a href="{% url 'global_goals_period' %}" class="institutional-golden-color">
          <i class="bi bi-diagram-3-fill"></i>
          <span class="link_name">Definición de Metas</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="{% url 'global_goals_period' %}">Definición de Metas</a></li>
        </ul>
      </li>
    {% endif %}
    {% if perms.goals.puede_listar_metas %}
      <li>
        <a href="{% url 'goals' %}" class="institutional-golden-color">
          <i class="bi bi-journal-plus"></i>
          <span class="link_name">Metas</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="{% url 'goals' %}">Metas</a></li>
        </ul>
      </li>
    {% endif %}
  </ul>
</div>