{% extends 'master_budget/layout/base.html' %}
{% load static %}

{% block title %}Escenarios Cartera Crediticia {% endblock title %}

{% block breadcrumb %}
  <li class="breadcrumb-item active text-white" aria-current="page">/ Cartera Crediticia</li>
  <li class="breadcrumb-item active text-white before-none" aria-current="page"> / Escenarios</li>
{% endblock breadcrumb %}

{% block content %}
<div class="container-fluid pt-4">

  <div class="card card-template">
    <div class="card-header">
      <h5 class="card-title fw-light fs-4">Escenarios Cartera Crediticia</h5>
    </div>
    <div class="card-body">
    </div>
  </div>
</div>
{% endblock content %}